body {
  font-family: Arial, sans-serif;
  background-color: #eee; 
  color: #ffffff;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #ca252b;
}

.container {
  display: flex;
  margin-bottom: 10px;
}

.line-numbers {
  flex: none;
  padding: 10px;
  text-align: right;
  background-color: #999;
  color: #333;
  overflow: hidden;
}

.html-input,
.html-output {
  flex: 1;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: 'Courier New', monospace;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #333;
  color: #eee;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
