body {
  font-family: Arial, sans-serif;
  background-color: #eee; 
  color: #333; 
  padding: 20px;
}

.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.line-numbers {
  flex: 0 0 auto; /* Không cho phép line-numbers phình to */
  padding: 10px;
  background-color: #eeeeee;
  color: #333;
  text-align: right;
  margin-right: 10px;
  user-select: none; /* Ngăn chọn số dòng */
}

.html-input, .html-output {
  flex: 1; /* Cho textarea chiếm phần còn lại của dòng */
  font-family: monospace; /* Font chữ cố định chiều rộng */
  padding: 10px;
}

button {
  padding: 10px;
  border: none;
  background-color: #ca252b; 
  color: white;
  margin-right: 5px;
}

button:hover {
  background-color: #e62e34;
}
